{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="row my-4">
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Order by</th>


                </tr>
            </thead>
            <tbody>
                {% for order in order %}
                <tr>
                    <td>{{ order.name }}</td>
                    <td>{{ order.name.category }}</td>
                    <td>{{ order.order_quantity }}</td>
                    <td>{{ order.amount }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>{{ order.user.username }}</td>
                     {% if user.user_role in 'staff' or user.is_superuser %}
                    <td>
                            <a class="btn btn-info btn-sm mr-2"
                                href="{% url 'order-status-update' order.id %}">Change status</a>

                        </td>
                </tr>
                {% endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}